* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: inherit;
}

:root {
  --h_bg_color : #f5f5f5;
  --main_color : #7fad39;
}

.container {
  width: 70%;
  margin: 0 auto;
}

header .h_top {
  background-color: var(--h_bg_color);
  font-size: 14px;
  padding: 15px 0;

}

header .h_top .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .h_top .right {
  display: flex;
}

header .h_top .right > div {
  margin-right: 20px;
  padding-right: 20px;
  border-right: 1px solid lightgray;
}

header .h_top .right > div:last-child {
  border-right: none;
}

header .h_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .h_bottom nav > ul {
  display: flex;
  align-items: center;
}

header .h_bottom nav > ul a {
  padding: 30px 20px;
  display: inline-block;
}

header .h_bottom .user_icon i {
  margin-right: 5px;
}

header .h_bottom .user_icon span:nth-child(3){
  font-size: 14px;
  color: gray;
}
/* header end */

/* main start */
#main {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 30px;
}

#main .left {
  position: relative;
  padding: 10px 30px;
  background-color: var(--main_color);
  color: white;
}

#main .left .dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;

  display: none;
  color: black;
  
}

#main .left .dropdown a {
  padding: 10px 40px;
  display: inline-block;
}

#main .left:hover .dropdown {
  display: block;
}

#main .right .search {
  display: flex;
  justify-content: space-between;
  align-items: start;

}

#main .right .search form {
  width: 70%;
  display: flex;
  border: 1px solid black;
}

#main form > * {
  border: none;
  border: 1px solid red;
  padding: 15px 0;
}

#main form select {
  width: 20%;
}

#main form input[type="text"]{
  width: 60%;
}

#main form input[type="submit"]{
  width: 20%;
  background-color: #7fad39;
  color: white;
  font-weight: 900;
  text-align: center;
}

#main .right .call{
  display: flex;
  align-items: center;
}

#main .right .call i {
  width: 50px;
  height: 50px;
  display: inline-block;
  border-radius: 50%;
  background-color: var(--h_bg_color);
  color: var(--main_color);
  text-align: center;
  line-height: 50px;
  margin-right: 5px;
}

#main .right .contents {
  margin-top: 20px;

  position: relative;
}

#main .contents .text_box {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10%;
  width: 50%;
}

#main .contents .text_box h2{
  font-size: 14px;
  color: var(--main_color);
}

#main .contents .text_box h1{
  font-size: 46px;
  margin: 10px 0;
  line-height: 52px;
}

#main .contents .text_box p {
  font-size: 16px;
}

#main .contents .text_box a {
  padding: 10px 30px;
  background-color: var(--main_color);
  color: white;
  font-weight: 900;
  display: inline-block;
  margin-top: 20px;
}
/* main end */

/* slider */
#slider input[type="radio"]{
  display: none;
}

#slider .slidebox {
  width: 100%;
  overflow: hidden;
  padding-left: 15px;
}


#slider .slidebox .slides {
  display: flex;
  width: 125%;
}

#slider .slidebox .slides .slide {
  flex: 0 1 calc(25% - 15px);
  margin-right: 15px;

  position: relative;
  text-align: center;

  transition: all 1s;
}

#slider .slidebox .slides .slide img {
  width: 100%;
}

#slider .slidebox .slides .slide a {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);

  padding: 10px 20px;
  display: inline-block;
  background-color: white;
}

#slider .slidebtns{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
#slider .slidebtns label {
  width: 50px;
  height: 10px;
  background-color: #d7f1af;

  margin-right: 5px;
  cursor: pointer;
}

#slider .slidebtns label:hover {
  background-color: var(--main_color);
}

#s01:checked ~ .slidebox label[for="s01"],
#s02:checked ~ .slidebox label[for="s02"],
#s03:checked ~ .slidebox label[for="s03"],
#s04:checked ~ .slidebox label[for="s04"],
#s05:checked ~ .slidebox label[for="s05"] {
  background-color: var(--main_color);
}

#s01:checked ~ .slidebox .slide{
  transform: translateX(0);
}
#s02:checked ~ .slidebox .slide{
  transform: translateX(calc(-100% - 15px));
}
#s03:checked ~ .slidebox .slide{
  transform: translateX(calc(-200% - 30px));
}
#s04:checked ~ .slidebox .slide{
  transform: translateX(calc(-300% - 45px));
}
#s05:checked ~ .slidebox .slide{
  transform: translateX(calc(-400% - 60px));
}

#tab {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

#tab input[type="radio"]{
  display: none;
}

#tab h1{
  margin-bottom: 20px;
}

#tab .tab_label {
  font-size: 0;
}

#tab .tab_label label{
  width: 20%;
  padding: 10px 0;
  display: inline-block;

  font-size: 20px;
  border: 1px solid #7fad39;
}

#tab .tab_contents{
  display: flex;
  flex-wrap: wrap;
}

#tab .tab_contents li {
  flex: 0 1 calc(25% - 30px);
  margin: 15px;
  border: 1px solid red;
}

#tab .tab_contents li img {
  width: 100%;
}

#tab .tab_contents .all {
  display: none;
}

#t01:checked ~ .tab_contents .all, 
#t02:checked ~ .tab_contents .oranges, 
#t03:checked ~ .tab_contents .fresh_meat, 
#t04:checked ~ .tab_contents .vegetables, 
#t05:checked ~ .tab_contents .fastfood {
  display: block;
}

#t01:checked ~ .tab_label label[for="t01"], 
#t02:checked ~ .tab_label label[for="t02"], 
#t03:checked ~ .tab_label label[for="t03"], 
#t04:checked ~ .tab_label label[for="t04"], 
#t05:checked ~ .tab_label label[for="t05"] {
  background-color: #d7f1af;
}

footer {
  background-color: #F3F6FA;
}

footer .f_top {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}

footer .f_top > div {
  width: calc(100% / 3);
}

footer .f_top h3 {
  margin-bottom: 20px;
}

footer .f_top p {
  margin-bottom: 10px;
}

footer .f_top .useful_links {
  display: flex;
}

footer .f_top .useful_links > ul {
  margin-right: 10px;
}

footer .f_top .useful_links a {
  display: inline-block;
  padding: 10px 20px 10px 0;
}

footer .f_top .join  form{
  display: flex;
  margin-bottom: 15px;
}

footer .f_top .join  form input[type="email"]{
  width: 65%;
  padding: 15px 10px;
}

footer .f_top .join  form input[type="submit"]{
  width: 25%;
  padding: 15px 0;
  border: none;
  background-color: var(--main_color);
  color: white;
  font-weight: 900;
}

footer .f_top .join .sns a {
 margin-right: 10px;
}

footer .f_bottom {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
}
