* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: inherit;
}

:root {
  --banner_clr: #efefef;
}

h1 {
  font-weight: normal;
  font-size: 45px;
}

h3 {
  font-weight: normal;
  font-size: 30px;
}

p {
  font-size: 16px;
}

i{
  cursor: pointer;
}

underline{
  text-decoration: underline;
  color: #59ab6e;
}

.container {
  width: 70%;
  margin: 0 auto;
}

button {
  border: none;
  background-color: transparent;
  background-color: #59ab6e;
  color: white;
  padding: 10px 15px;
  cursor: pointer;
}

#h_top {
  background-color: #1d242d;
  color: lightgray;
}

#h_top .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}

#h_top .container .contact ul {
  display: flex;
}

#h_top .container .contact ul li{
  cursor: pointer;
}

#h_top .container i {
  margin: 0 15px;
}

#h_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#h_bottom img {
  width: 60px;
}

#h_bottom .menu a {
  margin-right: 100px;
}

#h_bottom .icon{
  position: relative;
  font-size: 25px;
}

#h_bottom span.count{
  background-color: lightgray;
  font-size: 15px;

  border-radius: 20px;
  padding: 5px 10px;

  position: relative;
  top: -15px;
  left: -20px;
}

#h_bottom .search .fst_icon{
  margin-right: 40px;
}

#banner {
  padding: 30px 0;
  background-color: var(--banner_clr);
  position: relative;

  text-align: center;
  overflow: hidden;
}

#banner .slidebox{
  display: flex;
  width: 300%;
}

#banner .contents{
  display: flex;
  justify-content: center;
  align-items: center;
}

#banner .content {
  width: 100%;
  display: flex;
  position: relative;

  transition: all 1s;
  /* animation: auto_slide 3s linear infinite normal; */
}

/* @keyframes auto_slide {
  0%{ left: 0%; }
  50%{ left: 100%; }
  100%{ left: 200%; }
} */

#banner .slidebox .content i {
  position: absolute;
  color: #a4cdae;
  font-size: 40px;
  cursor: pointer; 
}

#banner .slidebox .content i.left {
  /* color: red; */
  top:50%;
  left: 50px;
}

#banner .slidebox .content i.right {
  /* color: blue; */
  top: 50%;
  right: 50px;
}

#banner .slidebox .content i.right:hover, #banner .slidebox .content i.left:hover{
  transform: scale(1.5);
  color: #59ab6e;
}

#banner > input[type="radio"]{
  display: none;
}

#banner .content .container{
  display: flex;
  justify-content: center;
  align-items: center;
}

#banner .content h1 {
  font-weight: normal;
  font-size: 55px;
}

#banner .text_box {
  width: 40%;
  text-align: left;
}

#banner .img_box {
  width: 40%;
}

#banner img {
  width: 100%;
  display: block;
}

#banner .container .text_box h3 {
  margin: 10px 0;
}

#banner .slidebox .cntnt1 h1{
  color: #59ab6e;
}

#banner .slidebtn label{
  display: inline-block;
  width: 50px;
  height: 5px;
  margin: 0 5px;
  background-color: #a4cdae;
  cursor: pointer;
}

#banner #slide01:checked ~.slidebtn .btn1{
  background-color: #59ab6e;
}

#banner #slide02:checked ~.slidebtn .btn2{
  background-color: #59ab6e;
}

#banner #slide03:checked ~.slidebtn .btn3{
  background-color: #59ab6e;
}

/* #banner .slidebtn label:hover{
  transform: scale(1.2);
} */

#banner #slide01:checked ~.slidebox .content{
  transform: translateX(0%);
}

#banner #slide02:checked ~.slidebox .content{
  transform: translateX(-100%);
}

#banner #slide03:checked ~.slidebox .content{
  transform: translateX(-200%);
}


/* banner end */

#category {
  text-align: center;
  padding: 30px;
}

.title {
  margin-bottom: 50px;
}

.title p {
  width: 50%;
  transform: translate(50%);
  margin-top: 10px;
}

.boxes {
  display: flex;
  justify-content: center;
}

#category .boxes .box {
  flex: 0 1 calc(33% - 20px);
  margin: 10px;
}

.boxes .box .img_box {
  width: 100%;
  margin-bottom: 15px;
}

#category .boxes .box img {
  width: 90%;
  border-radius: 50%;
  border: 1px solid lightgray;
  cursor: pointer;
}

#category .boxes .box h5 {
  font-size: 17px;
  margin-bottom: 15px;
}

#category .boxes .box button {
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
}

#feature {
  background-color: #e9eef5;
  padding: 30px;
  text-align: center;
}

#feature .boxes .box {
  flex: 0 1 calc(33% - 10px);
  margin: 5px;
  /* background-color: yellow; */
}

#feature .container .boxes .text_box {
  background-color: white;
  padding: 20px;
  height: 230px;
  text-align: left;
}

#feature .container .boxes .text_box>div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

#feature .container .boxes .text_box h3 {
  font-size: 24px;
}

#feature .container .boxes .text_box p {
  margin-bottom: 20px;
}

#feature .container .boxes .text_box h5 {
  color: lightgray;
}

#feature .container .boxes .box {
  width: 400px;
}

#feature .container .boxes .img_box {
  width: 100%;
  height: 250px;
  padding: 0;
  margin: 0;
  border: none;
}

#feature .boxes .box img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

#feature .boxes .text_box .star i[class~="yellow_star"] {
  color: yellow;
}

#feature .boxes .text_box .star i[class~="gray_star"] {
  color: gray;
}


#f_top .container>div {
  display: flex;
  justify-content: space-between;
}

#f_top .container .f_top_top {
  flex: 0 1 calc(33% - 20px);
  margin: 10px;
}

#f_top .container .f_top_top hr {
  margin: 20px 0;
  height: 1px;
  background-color: #1d242d;
  border: none;
}

#f_top .container .f_top_top>div {
  width: 33%;
}

#f_top .f_top_top ul li, #f_top .f_top_top p, #f_bottom underline{
  margin: 10px 0;
  cursor: pointer;
}

#f_top .f_top_top ul li:hover, #f_bottom underline:hover, #h_bottom a:hover, green:hover{
  color: #59ab6e;
}

#f_top .zayshop h3{
  color: #59ab6e;
  font-weight: bold;
}

#f_top .container>hr {
  margin: 15px;
  height: 1px;
  background-color: #1d242d;
  border: none;
}

#f_top .f_top_bottom i {
  margin: 0 10px;
  border-radius: 50%;
  border: 0.5px solid #cfd6e1;
  padding: 10px;
  cursor: pointer;
}

#f_top .f_top_bottom i:hover{
  color: #212934;
  background-color: #cfd6e1;
}

#f_top .f_top_bottom input {
  background-color: #212934;
  border: 1px solid #1d242d;
  padding: 10px 5px;
}

#f_top .f_top_bottom button {
  margin-left: -6px;
}

#f_top {
  background-color: #212934;
  color: white;
  padding: 30px;
}

#f_bottom {
  background-color: #1d242d;
  color: white;
  height: 40px;
  display: flex;
  align-items: center;
}

#f_bottom green{
  text-decoration: underline;
  cursor: pointer;
}

/* input[type="email"]::placeholder { */
/* placeholder 관련 속성 지정 */
/* } */