*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: var(--black);
}

:root{
  --black: #2f3438;
  --pointColor: #0AA5FF;
}

.container{
  width: 60%;
  margin: 0 auto;
}