header{
  text-align: center;
  font-size: 40px;
  border-bottom: 2px solid gainsboro;
}

#h_bottom{
  background-color: #f9f9f9;
  width: 100%;
}

#h_top, #h_bottom{
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#h_bottom.fixed{
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  background-color: aliceblue;
  box-shadow: 0 0 5px black;
}

/* .test{
  height: 1000px;
  background-color: yellow;
} */