@charset "UTF-8";

*{
	color:inherit;
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	list-style: none;
}

ol{
	padding: 15px 20px;
	text-decoration: none;
}

li{
	margin: 5px 0;
}

h1{
	margin: 20px;
}

#boxes{
	display: flex;
	flex-wrap: wrap;
	
	gap: 10px;
	width: 95%;
	border: 1px solid gray;
}

.box{
	border: 1px solid gray;
	flex: 0 1 20%;
	padding: 15px;
	/*width: 700px;*/
}

.cenr{
	display: flex;
	justify-content: center;
}

.ch4{
	display: flex;
	justify-content: space-between;
}