/* 초기화 */
*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	color: inherit;
}

.container{
  width: 60%;
  margin: 0 auto;
}

/* h1 태그에 대해 글자 크기 및 두께 변경 */
h1{
  font-size: 60px;
  font-weight: normal;
  margin-bottom: 20px;
}

/* 모든 버튼 태그 */
button{
  /* 배경색 및 글자 크기, 두께 지정 */
  border: none;
  background-color: #f7444e;
  color: white;
  font-size: 20px;

  /* 세부 크기 조정 */
  /* width: 200px;
  height: 40px; */
  padding: 15px 35px;
  margin: 20px 0px;
  
  /* 마우스 커서 변경 */
  cursor: pointer;
}

/* 구분선 길이, 두께, 색상 변경 */
hr{
  width: 8%;
  border: 2px solid #f7444e;
  /* 세부 크기 조정, 가운데 정렬 */
  margin: 25px auto;
}

/* class명이 red인 태그에 대해 글자색 red로 변경, 세부 위치 조절*/
.red{
  color: #f7444e;
  margin-bottom: -15px;
}

/* header */
/* 헤더의 이미지 태그에 대해 크기 조정 */
.h_img{
  width: 200px;
}

/* header 부분에 대한 큰 정렬 */
#header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

/* header의 직계 자삭인 div와 후손 태그 ul에 대해 큰 정렬 */
#header > div, #header ul{
  display: flex;
}

/* 세부 크기 정렬 */
#header ul li{
  margin: 0px 10px;
}

#header ul li:nth-child(2){
  position:relative;
}

#header ul li .sub_menu{
  position: absolute;
  top: 25px;
  left: 0;
  width: 150px;
  display: none;
  border: 2px solid black;
  z-index: 1;
  color: gray;
  background-color: white;
}

#header ul li .sub_menu li {
  padding: 10px;
  cursor: pointer;
  margin: 0;
}

#header ul li .sub_menu li:first-child{
  border-bottom: 1px solid gray;
}

#header ul li:nth-child(2):hover .sub_menu{
  display: block;
}

/* 아이콘 세부 크기 정렬 */
.fa-cart-shopping{
  margin: 0px 10px;
}
/* header */


/* section banner */
#banner{
  /* banner 내의 slide의 absolute 기준점 제시 */
  position: relative;
  overflow: hidden;
}

#banner .slidebtn{
  position: absolute;
  top: 72%;
  padding: 0 950px 0 250px;
}

#banner .slidebtn label{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
  background-color: white;
  margin-left: 10px;
  cursor: pointer;
}

#banner #slide01:checked ~ .slidebtn label[for="slide01"]{
  background-color: #f7444e;
  transform: scale(1.3);
}

#banner #slide02:checked ~ .slidebtn label[for="slide02"]{
  background-color: #f7444e;
  transform: scale(1.3);
}

#banner #slide03:checked ~ .slidebtn label[for="slide03"]{
  background-color: #f7444e;
  transform: scale(1.3);
}

input[type="radio"]{
  display: none;
}

#banner #slide01:checked ~ .slidebox .slide{
  transform: translateX(0%);
}

#banner #slide02:checked ~ .slidebox .slide{
  transform: translateX(-100%);
}

#banner #slide03:checked ~ .slidebox .slide{
  transform: translateX(-200%);
}

#banner .img_box{
  width: 100%;
  /* vh: 보이는 창의 몇 배 */
  height: 90vh; 
}

/* 이미지 크기를 너비에 딱 맞게 조정 */
#banner .banner_img{
  width: 100%;
  height: 100%;
}

#banner .slidebox{
  display: flex;
  width: 300%;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#banner .slides {
  width: 300%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#banner .slide{
  width: 100%;
  position: relative;
  padding: 0 950px 0 250px;

  transition: all 1s;
}

/* text_box의 직계 자식 p의 스타일 지정 및 세부 크기 조절 */
#banner .slide > p{
  font-size: 20px;
  margin-bottom: 10px;
}

/* section banner */

/* section s_top */
/* s_top 부분에 대한 세부 정렬 */
#s_top{
  text-align: center;
  padding: 50px 0px;
}

/* 혜택들이 저장된 div들의 모음인 .boon에 대한 전체 정렬 */
#s_top .boon{
  display: flex;
}

/* 각각의 div에 대한 디자인 속성 및 세부 정렬 */
#s_top .boon div{
  flex: 0 1 calc((100%/3) - 20px);
  background-color: #002c3e;
  color: white;
  margin: 10px;
  padding: 40px 20px;
  text-align: center;
}

/* div 내의 아이콘 크기 변경 */
#s_top .boon div i{
  font-size: 35px;
}

#s_top .boon div h4{
  /* 세부 정렬 */
  margin: 14px 0px;
}

/* 글자 크기 변경 */
#s_top .boon div p{
  font-size: 15px;
}
/* section s_top */

/* section s_bottom */
/* s_bottom에 대한 배경색 지정 및 bottom_text_box의 absolute 기준점 제시 */
#s_bottom{
  background-color: #d0cecf;
  /* position: relative; */
}

#s_bottom .container{
  display: flex;
  justify-content: center;
  align-items: center;
}

#s_bottom .img_box{
  width: 50%;
  overflow: hidden;
}

/* 이미지 크기 가로 너비에 맞춰 지정 */
#s_bottom img{
  width: 150%;
  display: block;
}

/* text_box에 대한 세부 위치 조정 -> 요소 위에 요소 띄우기 */
#s_bottom .bottom_text_box{
  /* position: absolute;
  top: 50%;
  right: 23%;
  transform: translateY(-50%); */
  width: 50%;
}

/* 글자 크기 변경 및 세부 정렬 */
#s_bottom .bottom_text_box p{
  font-size: 20px;
  margin-bottom: 20px;
}
/* section s_bottom */

/* section product */
/* product 위치 세부 정렬 */
#product{
  /* 위아래 여백 50, 가운데 정렬 */
  margin: 50px auto;
  text-align: center;
}

/* 상품들이 모여있는 .boxes의 큰 정렬, 줄바꿈 허용 */
#product .boxes{
  display: flex;
  /* justify-content: space-between; */
  /* align-items: center; */
  flex-wrap: wrap;
}

/* .box의 세부 정렬 및 디자인 적용 */
#product .boxes .box{
  /* 각각의 상품 박스들 가로 너비의 33%씩만큼 크기 나눠가짐 */
  flex: 0 1 calc((100% / 3) - 20px);
  margin: 10px;
  background-color: #f7f8f9;
  padding: 40PX 20px;
  width: 300px;
  height: 300px;
}

/* 상품 박스 내의 이미지 크기 조정 및 세부 정렬 */
#product .boxes .box img{
  width: 80px;
  height: 150px;
  margin-bottom: 40px;
}

/* product text_box 큰 정렬 */
#product .boxes .box .text_box{
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}
/* section product */

/* section subscribe */
/* subscribe 영역 디자인 적용 및 세부 정렬 */
#subscribe{
  background-color:#d0cecf;
  padding: 50px 0px;
  text-align: center;
}

/* 글자 크기 및 두께 변경, 세부 정렬 */
#subscribe h3{
  font-size: 27px;
  font-weight: normal;
  margin-bottom: 10px;
}

/* 글자 크기 및 세부 정렬 */
#subscribe p{
  font-size: 13px;
  margin-bottom: 15px;
}

/* input 박스 크기 및 디자인 조정, 세부 정렬 */
#subscribe input{
  width: 600px;
  height: 40px;
  border-radius: 20px;
  border: none;
  padding: 0px 15px;
}

/* subscribe 영역의 button 디자인 조정 -> 앞에서의 스타일보다 우선순위 높음 */
#subscribe button{
  border-radius: 29px;
  width: 200px;
}
/* section subscribe */

/* section customer */
/* customer 영역 세부 정렬 */
#customer{
  padding: 50px 0px;
  text-align: center;
}

/* container의 직계 자식 div의 큰 정렬 및 세부 정렬 */
#customer .container > div{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0px;
}

/* div 내부 아이콘의 둥근 배경 지정 */
#customer .container > div i{
  background-color: #f7444e;
  color: white;
  border-radius: 50%;
  padding: 10px;
  /* 마우스 커서 포인터로 변경 */
  cursor: pointer;
}

/* class가 profile인 영역의 세부 정렬 */
#customer .profile{
  margin: 0px 120px;
}

/* profile 내부의 이미지 크기 및 세부 정렬 */
#customer .profile img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 15px;
}

/* profile 내부의 p 태그 중 마지막 부분에 대해 색상 변경 */
#customer .profile p:last-of-type{
  color: gray;
}

/* container의 직계 자식 p의 세부 크기 조정 */
#customer .container > p{
  font-size: 13px;
  width: 80%;
  margin: 0px auto;
} 
/* section customer */

/* footer f_top */
/* f_top 영역 배경색 지정 및 세부 정렬 */
#f_top{
  background-color: #f8f8f8;
  padding: 50px 0px;
}

/* f_top 내의 container 영역 큰 정렬 가로로 가운데 정렬 */
#f_top .container{
  display: flex;
  justify-content: center;
}

/* container의 직계 자식 div의 큰 정렬 */
#f_top .container > div{
  /* 전체 영역을 25%씩 나눠 가짐 */
  flex: 0 1 calc(25%-20px);
  margin: 20px;
}

/* info영역 내의 img 태그 크기 및 세부 정렬 */
#f_top .info img{
  width: 130px;
  margin-bottom: 20px;
}

/* f_top 내부 h3 태그의 크기 및 세부 정렬 */
#f_top h3{
  font-size: 17px;
  margin-bottom: 20px;
}

/* f_top 내부 li와 p의 크기 및 세부 정렬 */
#f_top li, #f_top p{
  margin-bottom: 8px;
  font-size: 13px;
}

/* f_top 내부의 input의 type이 email인 항목에 대한 세부 정렬(크기, 경계선, 여백) */
#f_top input[type="email"]{
  width: 150px;
  height: 35px;
  border: 1px solid gray;
  padding: 10px;
}

/* f_top 영역의 submit 부분의 큰 정렬 */
#f_top .newsletter .submit{
  display: flex;
}

/* button의 세부 정렬 -> 앞선 button 스타일보다 우선순위 높음 */
#f_top .newsletter .submit button{
  width: 100px;
  padding: 10px 0px;
  margin: 0px;
  font-size: 14px;
}

/* footer f_bottom */
/* f_bottom 영역의 디자인 조정 및 세부 정렬 */
#f_bottom{
  background-color: black;
  color: white;
  text-align: center;
  font-size: 12px;
  padding: 10px 0px;
}
/* footer f_bottom */