<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<security-role>
		<role-name>role1</role-name>
	</security-role>
	
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>JSPBook</web-resource-name>
			<url-pattern>/security02</url-pattern>
			<http-method>GET</http-method>
		</web-resource-collection>
		
		<auth-constraint>
			<description></description>
			<role-name>role1</role-name>
		</auth-constraint>
	</security-constraint>
	
	<login-config>
		<auth-method>FORM</auth-method>
		<form-login-config>
			<form-login-page>/ch10/login.jsp</form-login-page>
			<form-error-page>/ch10/loginFailed.jsp</form-error-page>
		</form-login-config>
	</login-config>
	
	<filter>
		<filter-name>filter02_2</filter-name>
		<filter-class>ch12.LogFileFilter</filter-class>
		<init-param>
			<param-name>filename</param-name>
			<param-value>c:\\logs\\monitor.log</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>filter02_2</filter-name>
		<url-pattern>/filterResult03</url-pattern>
	</filter-mapping>
</web-app>