#banner .bg_banner {
  height: 600px;
  position: relative;  
  overflow: hidden;
}

#banner .bg_banner > img {
  /* width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center; */

  /* background-image: url("./img/hero-img.jpg");
  background-position: center; */

  transform: translateY(-20%);
}

#banner .bg_banner .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  height: 100%;


  position: absolute;
  top: 50%;
  left: 15%;
  transform: translate3d(0, -50%, 0);
}

/* #banner .bg_banner .content .txtbox,
#banner .bg_banner .content .slidebox{
  position: absolute;
  top: 50%;
} */

#banner .bg_banner .content .txtbox {
  /* left: 23%; */
  width: 50%;
  /* transform: translate3d(-25%, -50%, 0); */
}

#banner .bg_banner .content .slidebox {
  /* right: 23%; */
  width: 40%;
  /* transform: translate3d(25%, -50%, 0); */
  
  white-space: nowrap;
  overflow: hidden;

  background-color: var(--pointColor2);
  border-radius: 10px;
}

#banner .bg_banner .content .txtbox p{
  font-size: 24px; 
  margin-bottom: 16px;
  color: var(--pointColor2);
  font-weight: 600;
}

#banner .bg_banner .content .txtbox h1{
  font-size: 64px;
  margin-bottom: 48px;
  color: var(--pointColor1);
  font-weight: 800;
}

#banner .bg_banner .txtbox input{
  padding: 16px 24px;
  border-radius: 40px;
  border: 2px solid var(--pointColor2);
  font-size: 16px;
}

#banner .searchbox{
  position: relative;
  width: 80%;
  /* border: 1px solid red; */
}

#banner .bg_banner .txtbox input[type="text"]{
  width: 100%;
  outline: none;
}

#banner .bg_banner .txtbox input[type="text"]:focus{
  outline: 5px solid #82c40850;
}

#banner .bg_banner .txtbox input[type="submit"]{
  position: absolute;
  width: 150px;
  right: 0;
  bottom: 0;
  background-color: var(--pointColor1);
  color: white;
  cursor: pointer;
  transition: all .5s;
  font-weight: 500;
}

#banner .bg_banner .txtbox input[type="submit"]:hover{
  background-color: var(--pointColor2);
}


#banner .bg_banner .slidebox ul{
  width: 100%;
  font-size: 0;  
  overflow: hidden;
}

#banner .bg_banner .slidebox ul li{
  width: 100%;
  display: inline-block;
  position: relative;
  transition: all .7s;
  
}

#banner .bg_banner .slidebox ul li img{
  width: 100%;
}

#banner .bg_banner .slidebox ul li span{
  font-size: 25px;
  font-weight: 600;
  color: white;
  background-color: rgba(255,181,36, 0.5);

  padding: 8px 24px;
  border-radius: 10px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  cursor: pointer;
}

#banner .bg_banner .button{
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);

}

#banner .bg_banner .button .btn_left,
#banner .bg_banner .button .btn_right{
  font-size: 30px;
  font-weight: 200;
  color: white;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: var(--pointColor1);
  opacity: 0.5;
  cursor: pointer;

  width: 50px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
}


#banner .bg_banner .button .btn_left{
  position: absolute;
  left: 20px;
}

#banner .bg_banner .button .btn_right{
  position: absolute;
  right: 20px;
}